/* FOR DESKTOP VIEW */

@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0em 0.9em 0em 0.9em;
  }

  a.link-logo {
    text-decoration: none;
    color: red;
    cursor: pointer;
  }
  h1.logo {
    background-color: rgb(213, 213, 207);
    padding: 2vw;
    border-radius: 50%;
    background: #ffffff;
    border: solid black;
    cursor: pointer;
    border-radius: 20px 0px 50px 3px;
    box-shadow: 10.21px 10.21px 32px #cccccc, -10.21px -10.21px 32px #ffffff;
  }

  ul.nav-links {
    display: flex;
    list-style: none;
    gap: 4em;
    padding: 0.9em;
  }

  a.all-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
  }

  li.links {
  }

  p.p-nav-links {
    color: black;
    cursor: pointer;
    font-family: Katibeh, sans-serif;
    border-radius: 50%;
    background-color: red;
    padding: 20px 24px;
    background-image: linear-gradient(180deg, #fff, #f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
      0 1px 3px 0 rgb(93 100 148 / 20%);
  }

  .p-nav-links:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #000000;
    box-shadow: 5px 5px 0px #000000;
    font-size: 20px;
  }

  .p-nav-links:active {
    background-color: #7f8a6a;
    transform: translateY(4px);
  }
}

/* FOR MOBILE VIEW */

/*@media only screen and (min-width: 800px) {
}*/
