/* FOR DESKTOP VIEW */

@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

 
}

/* FOR MOBILE VIEW */

@media only screen and (min-width: 800px) {
}
