/* FOR DESKTOP VIEW */

@media only screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-image: url(/images/bg1.svg);
    background-color: #000000;
    transition: all ease-in .8s;
  }
  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-track {
    background-color: #f5f5fa00;
  }

  body::-webkit-scrollbar-thumb {
    background: rgb(247, 1, 1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(50.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .open-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0em 0.9em 0em 0.9em;
    padding: 0.9em;
  }

  a.link-logo {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  h1.logo {
    background-color: rgb(213, 213, 207);
    font-family: Pinyon Script, sans-serif;
    padding: 2vw;
    border-radius: 50%;
    background: #ffffff;
    border: solid rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 20px 0px 50px 3px;
    box-shadow: 10.21px 10.21px 32px #f80404, -10.21px -10.21px 32px #000000;
  }

  ul.nav-links {
    display: flex;
    list-style: none;
    gap: 4em;
    padding: 0.9em;
  }

  .open-menu {
    display: none;
  }

  a.all-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
  }

  .p-nav-links {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: Katibeh, sans-serif;
    border-radius: 2em;
    padding: 0.9em 2em;
    background-image: linear-gradient(180deg, #fff, #f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
      0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all 0.3s ease;
  }

  .p-nav-links:hover {
    color: #ff0000;
    transform: scale(1.1);
    box-shadow: 4px 5px 17px -4px #000000;
  }

  .p-nav-links:active {
    box-shadow: 5px 5px 17px 5px #ff0000;
    transform: translateY(4px);
  }

  /* FOR TOGGLE THEME BELOW*/
  #moon-toggle {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.3em;
    background-color: rgb(0, 0, 0);
    padding: 0.1em;
    border-radius: 15px;
    width: 30px;
  }

  .icon-moon:hover {
    background-color: rgb(255, 0, 0);
    transition: all ease-in 0.3s;
  }

  .toggle-container {
    display: flex;
    position: absolute;
    right: 30px;
    top: 6em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    padding: 0.9em;
    gap: 0.9em;

    cursor: pointer;
    border-radius: 50px;
  }
  .icon-sun {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.4em;
    background-color: rgb(246, 255, 0);
    padding: 0.1em;
    border-radius: 15px;
    width: 30px;
  }

  .icon-sun:hover {
    background-color: rgb(255, 0, 0);
    transition: all ease-in 0.3s;
  }

  .theme-mode {
    background-color: rgb(255, 255, 255);
    padding: 0.1em;
    padding: 0.1em;
    border-radius: 19px;
    width: 40px;
  }
  .theme-mode2 {
    padding: 0.1em;
    padding: 0.1em;
    border-radius: 19px;
    width: 40px;
  }

  /*   FOR MAIN SECTION STYLING*/

  .section-one {
    padding: 3em 0.9em;
  }

  .text-one {
    text-align: center;
    padding: 10px 5px 10px 5px;
  }

  .for-text-one {
    font-size: 2.6875rem;
    display: inline;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    background-color: #000000;
    transition: all ease-in .8s;
  }

  .for-image-containter {
    text-align: center;
    margin-bottom: 7em;
  }

  .image-one {
    width: 10%;
    padding: 1rem;
    box-shadow: -5px -5px 17px #000000, 5px 5px 17px #000000;
    background-color: #000000;
    border-radius: 1px 90px 1px 90px;
    border: 1px solid red;
    cursor: pointer;
    margin-top: 2em;
  }

  .image-one:hover {
    background-color: #000000;
    transition: all ease 1s;
  }

  .text-two {
    text-align: center;
    padding: 10px 5px 10px 5px;
  }

  .for-text-two {
    font-size: 1.9rem;
    display: inline;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: #000000;
    transition: all ease-in .8s;
  }

  /* FOR PROJECT PAGE STYLING */

  .project-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    padding: 3.5em;
    border: 1px solid red ;
    border-radius: 40px 20px;

  }

  .wrapping{
    background-color: grey;
    border-radius: 10px 10px 30px 5px;
    box-shadow: 10.21px 10.21px 32px #f80404, -10.21px -10.21px 32px #000000;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(20.5px);
    height: auto;
  }

  img.img-project{
    width: 35%;
  }
  .head-project{
    color:rgb(126, 114, 114);
    padding: 0px 0px 20px 10px ;
    font-family: "Cherry Swash", serif;
    display: flex;
    font-size: 1.7em;
  font-weight: 400;
  font-style: normal;
  }
  .simple-1{
    font-size: 2.5em;
    color: rgba(255, 0, 0, 0.281);
  }
  .simple-2{
    font-size: 2.5em;
    color: green;
  }
  .simple-3{
    font-size: 2.5em;
    color: cyan;
  }
  .simple-4{
    font-size: 2.5em;
    color: rgba(255, 0, 238, 0.284);
  }


  .descript{
    color:rgb(126, 114, 114);
    padding: .9em;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 19px;
    font-weight: bolder;
    border-top: 2px solid black;
    height: auto;

  }
}


/* FOR MOBILE VIEW */



@media only screen and (max-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    background-image: url(/images/bg1.svg);
    background-color: #000000;
    color: white;
    width: 80%;
    transition: all ease-in .8s;
  }
  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-track {
    background-color: #f5f5fa00;
  }

  body::-webkit-scrollbar-thumb {
    background: rgb(247, 1, 1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(50.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  a.link-logo {
    text-decoration: none;
    color: black;
    cursor: pointer;
    color: black;
  }

  h1.logo {
    background-color: rgb(213, 213, 207);
    font-family: Pinyon Script, sans-serif;
    padding: 2vw;
    border-radius: 50%;
    width: 10vw;
    background: #ffffff;
    border: solid rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 20px 0px 50px 3px;
    box-shadow: 10.21px 10.21px 32px #f80404, -10.21px -10.21px 32px #000000;
  }

  nav {
    padding: 1em;
  }

  a.all-links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.7rem;
  }

  li.links {
    border-bottom: 1px solid white;
    padding: 0.5em;
    color: white;
    display: block;
    margin: 25px;
  }

  .mobile-nav {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 4em;
    border-radius: 50px 0px 50px 3px;
    position: fixed;
    top: 0;
    right: -400px;
    width: 200px;
    height: 100vh;
    z-index: 2;
    transition: all ease-out 0.7s;
  }

  ul.nav-links {
    list-style: none;
  }

  .close-menu {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    background-color: #ff0000c9;
    border: 1px solid rgba(0, 0, 0, 0.501);
    border-radius: 50%;
    padding: 0.1em;
  }

  .open-menu {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
    color: white;
    background-color: #f8f8f8b7;
    padding: 0.1em 0.2em;
    border-radius: 40%;
    border: 2px solid rgb(255, 255, 255);
  }

  .p-nav-links {
    display: inline;
    justify-items: left;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: Katibeh, sans-serif;
  }

  .p-nav-links:hover {
    color: red;
  }

  .image-one {
    width: 25vw;
    padding: 1rem;
    box-shadow: -5px -5px 17px #000000, 5px 5px 17px #000000;
    background-color: #000000;
    border-radius: 1px 90px 1px 90px;
    border: 1px solid red;
    cursor: pointer;
    margin-top: 2em;
  }

  .section-one {
    padding: 3em 0.9em;
  }

  .text-one {
    text-align: center;
    padding: 10px 5px 10px 5px;
  }

  .for-text-one {
    width: 120%;
    font-size: 1.8em;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    background-color: black;
    transition: all ease-in .8s;
  }

  .for-image-containter {
    text-align: center;
    width: 120%;
  }

  .text-two {
    text-align: center;
    padding: 10px 5px 10px 5px;
    width: 120%;
  }

  .for-text-two {
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 1.3em;
    background-color: #000000;
    transition: all ease-in .8s;
  }

  /* FOR TOGGLE THEME BELOW*/
  #moon-toggle {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.3em;
    background-color: rgb(0, 0, 0);
    padding: 0.1em;
    border-radius: 15px;
    width: 30px;
  }
  .toggle-container {
    display: flex;
    position: absolute;
    right: 1px;
    top: 6em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(20.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    padding: 0.3em;
    gap: 0.9em;
    cursor: pointer;
    border-radius: 50px;
  }

  .icon-sun {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.1em;
    background-color: rgb(246, 255, 0);
    padding: 0.1em;
    border-radius: 15px;
    width: 30px;
  }

  .icon-sun:hover {
    background-color: rgb(255, 0, 0);
  }

  .theme-mode {
    background-color: rgb(255, 255, 255);
    padding: 0.1em;
    padding: 0.1em;
    border-radius: 19px;
    width: 40px;
  }


  /* FOR PROJECT PAGE STYLING */

  .project-wrap{
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   gap: 2em;
   padding: 1em;
   position: relative;
   top: 4em;
 
   

  
   
   
  
 

  }

  .wrapping{
    background-color: grey;
    border-radius: 10px 10px 30px 5px;
    box-shadow: 10.21px 10.21px 32px #f80404, -10.21px -10.21px 32px #000000;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(20.5px);
    height: auto;
    width: 92vw;
  
   
  }

  img.img-project{
    width: 20%;
  }
  .head-project{
    color:rgb(126, 114, 114);
    padding: 0px 0px 20px 10px ;
    font-family: "Cherry Swash", serif;
    display: flex;
    font-size: 1em;
  font-weight: 400;
  font-style: normal;
   
  }
  .simple-1{
    font-size: 2.5em;
    color: rgba(255, 0, 0, 0.281);
  }
  .simple-2{
    font-size: 2.5em;
    color: green;
  }
  .simple-3{
    font-size: 2.5em;
    color: cyan;
  }
  .simple-4{
    font-size: 2.5em;
    color: rgba(255, 0, 238, 0.284);
  }


  .descript{
  
    color:rgb(126, 114, 114);
    padding: .9em;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 19px;
    font-weight: bolder;
    border-top: 2px solid black;
    height: auto;
  }





}